{% extends 'main.html' %}

{% block title %} OTS Candidate Home Page {% endblock title%}
{% block top %}
<a href="{% url 'OTS:home' %}">Home</a>
<a href="{% url 'OTS:logout' %}">Logout</a>
{% endblock %}

{% block content %}
<h1>Welcome <span class="special">{{request.session.name}}</span>, 
    to your home page</h1>
<div class="button-link">
    <a href="{% url 'OTS:testpaper' %}?n=1">Test of 1 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testpaper' %}?n=3">Test of 3 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testpaper' %}?n=5">Test of 5 Question</a>
</div>
<div class="button-link">
    <a href="{% url 'OTS:testHistory' %}">Test History</a>
</div>
{% endblock %}