
.button-link a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width:300px;
    height:40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    border: 2px solid #8eb84a;
    color: #8eb84a;
    text-decoration: none;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
  }
  
  .button-link::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #8eb84a;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  
  .button-link:hover {
    color: white;
  }
  .button-link:hover::before {
    transform: translateX(0);
  }